<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutDialogLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="aboutDialogLabel">About <b>HowManyThings.com</b></h3>
</div>
<div class="modal-body">
<p><b>Howmanythings.com</b> was created by Robert Hansen</p>
<p>The site is powered by <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> and makes use of the <a href="http://jquery.com/" target="_blank">jQuery</a> and <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> open-source libraries. Additional CSS and techniques used to build the site by <a href="http://ruby.railstutorial.org/" target="_blank">Michael Hartl</a>. It is hosted on a <a href="http://www.linode.com/" target="_blank">Linode</a>.</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>
