<noscript>
<div class="alert alert-error" style="text-align: center;">
<b>It appears that your browser has JavaScript disabled.</b> To use this site enable Javascript and refresh this page.
</div>
</noscript>
